@font-face {
    font-family: "Roboto Light";
    src: url("fonts/RobotoLight.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("fonts/RobotoMedium.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("fonts/RobotoSlab.ttf");
}

#header {
    -fx-font-family: "Roboto Medium";
}

.root {
    -fx-base: BLACK;
    -fx-color: -fx-base;

    -fx-accent: #FF9800;
    -fx-font-family: Roboto Regular;
}

.table-view,
.table-view:focused {
    -fx-background-color: #1B1B1B;
    -fx-border-color: TRANSPARENT;
}

.table-view:focused {
    -fx-background-insets: 0, 1;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background .filler {
    -fx-background-color: #1B1B1B;
}

.table-view .table-cell {
    -fx-font-family: Roboto Regular;
    -fx-text-fill: #eeeeee ;
}

.table-view .table-row-cell {
    -fx-background-color: #1B1B1B ;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #424242;
}

.table-view .column-header .label {
    -fx-text-fill: #C7C7C7;
    -fx-font-weight: bold;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background,
.table-view .column-header-background .filler {
    -fx-background-color: #1B1B1B;
}

.table-view .column-header,
.table-view .filler {
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-text-fill: #FFF;
    -fx-font-family: "Roboto Medium";
}

.table-view:focused .table-row-cell:focused {
    -fx-background-insets: 0 0 0 0;
}

.table-view:focused .table-row-cell:selected {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.table-row-cell {
    -fx-table-cell-border-color: transparent;
}

.text-col,
.text-col .label {
    -fx-alignment: center-left;
}

/*
Note that to shift tabs left/right, both the 2nd value and 4th value have to be changed together
*/
.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 -9 0 9;
}

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -jfx-rippler-fill: #FFFFFF;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: #FFFFFF;
    -fx-stroke-width: 3pt;
}

.jfx-tab-pane .headers-region {
    -fx-background-color: #FF9800;
    -fx-text-fill: WHITE;
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: #FF9800;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-text-fill: #EEEEEE;
    -fx-font-size: 12;
}

.jfx-tab-pane .tab:selected .tab-label {
    -fx-text-fill: #FFFFFF;
}

#calendar .ikonli-font-icon {
    -fx-icon-code: "mdi-calendar";
}

#courses .ikonli-font-icon {
    -fx-icon-code: "mdi-file-document-box";
}

#upcoming .ikonli-font-icon {
    -fx-icon-code: "mdi-label";
}

#archive .ikonli-font-icon {
    -fx-icon-code: "mdi-archive";
}

#settings .ikonli-font-icon {
    -fx-icon-code: "mdi-settings";
}


#calendar .ikonli-font-icon,
#courses .ikonli-font-icon,
#upcoming .ikonli-font-icon,
#archive .ikonli-font-icon,
#settings .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 13px;
}

#calendar, #courses, #upcoming,
#archive, #settings {
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Regular";
}

#add-button .ikonli-font-icon {
    -fx-icon-code: "mdi-plus-box";
    -fx-icon-color: white;
    -fx-icon-size: 15px;
}

/*
floating buttons
*/
#add .ikonli-font-icon,
#save .ikonli-font-icon {
    -fx-icon-color: white;
    -fx-icon-size: 20px;
}

#add .ikonli-font-icon {
    -fx-icon-code: "mdi-plus";
}

#save .ikonli-font-icon {
    -fx-icon-code: "mdi-content-save";
}

#add-event .ikonli-font-icon {
    -fx-icon-code: "mdi-plus-box";
    -fx-icon-color: white;
    -fx-icon-size: 15px;
}

.jfx-text-field {
    -jfx-focus-color: #FF9800;
    -fx-text-fill: #FFF;
}

#time-picker .jfx-time-picker {
    -fx-border-color: transparent;
}

.animated-option-button {
    -fx-background-color: #FF9800;
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;

}

.animated-option-button .jfx-rippler{
    -jfx-rippler-fill: #FFF;
}

#dialog {
    -fx-background-color: #212121;
}

.date-picker-popup .calendar-grid {
    -fx-pref-width: 180.0;
    -fx-pref-height: 120.0;
}

#raised-button {
    -fx-background-color: #FF9800;
    -fx-alignment: CENTER;
    -fx-pref-height: 32;
    -fx-pref-width: 56;
    -fx-background-radius: 3;
    -fx-font-family: "Roboto Medium";
}

#flat-button {
    -fx-text-fill: white;
    -fx-alignment: CENTER;
    -fx-pref-height: 32;
    -fx-pref-width: 56;
    -fx-background-radius: 3;
    -fx-font-family: "Roboto Medium";
}

#add-nav-button {
    -fx-alignment: CENTER;
    -fx-pref-height: 40;
    -fx-padding: 0 8 0 8;
}

#dialog-header {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14px;
    -fx-fill: white;
}

#dialog-subheader {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13px;
    -fx-fill: white;
}

#snackbar {
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 3;
}

#content-header {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15px;
    -fx-fill: white;
}

#content-subheader {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 13px;
    -fx-fill: white;
}

#content-supersize {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20px;
    -fx-fill: white;
}

#calendar-item {
    /*-fx-border-color: #FF9800;*/
    /*-fx-border-width: 0, 0, 0, 2;*/
    -fx-padding: 8;
    -fx-spacing: 4;
    -fx-alignment: top-center;
}


