@font-face {
    font-family: "Roboto Light";
    src: url("fonts/RobotoLight.ttf");
}

@font-face {
    font-family: "Roboto Regular";
    src: url("fonts/RobotoRegular.ttf");
}

@font-face {
    font-family: "Roboto Thin";
    src: url("fonts/RobotoThin.ttf");
}

@font-face {
    font-family: "Roboto Medium";
    src: url("fonts/RobotoMedium.ttf");
}

@font-face {
    font-family: "Roboto Slab";
    src: url("fonts/RobotoSlab.ttf");
}

#header {
    -fx-font-family: "Roboto Medium";
}

.root {
    -fx-color: -fx-base;
    -fx-accent: #FF9800;
    -fx-accent-light: #FFC947;
    -fx-font-family: Roboto Regular;
}

.table-view,
.table-view:focused {
    -fx-border-color: TRANSPARENT;
}

.table-view:focused {
    -fx-background-insets: 0, 1;
}


.table-view .table-cell {
    -fx-font-family: Roboto Regular;
}

.table-view .table-row-cell {
    -fx-border-width: 1 0 0 0;
    -fx-table-cell-border-color: transparent;
}

.table-view .column-header .label {
    -fx-font-family: "Roboto Medium";
}

.table-view .column-header,
.table-view .filler {
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 10 1 0;
}

.table-view:focused .table-row-cell:focused,
.table-view:focused .table-row-cell:selected {
    -fx-background-color: transparent;
    -fx-background-insets: 0 0 0 0;
}

.table-view .scroll-bar * {
    -fx-min-width: 0;
    -fx-pref-width: 0;
    -fx-max-width: 0;

    -fx-min-height: 0;
    -fx-pref-height: 0;
    -fx-max-height: 0;
}

.text-col,
.text-col .label {
    -fx-alignment: center-left;
}

.checkbox-col,
.checkbox-col .label {
    -fx-alignment: center;
}

/*
Note that to shift tabs left/right, both the 2nd value and 4th value have to be changed together
*/
.jfx-tab-pane .tab-header-area {
    -fx-padding: 0 -9 0 9;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke-width: 3pt;
}

.jfx-tab-pane .headers-region,
.jfx-tab-pane .tab-header-background {
    -fx-background-color: -fx-accent;
}

.jfx-tab-pane .tab .tab-label {
    -fx-font-weight: normal;
    -fx-font-size: 12;
}

#nav-calendar .ikonli-font-icon {
    -fx-icon-code: "mdi-calendar";
}

#nav-courses .ikonli-font-icon {
    -fx-icon-code: "mdi-file-document-box";
}

#nav-upcoming .ikonli-font-icon {
    -fx-icon-code: "mdi-label";
}

#nav-archive .ikonli-font-icon {
    -fx-icon-code: "mdi-archive";
}

#nav-settings .ikonli-font-icon {
    -fx-icon-code: "mdi-settings";
}


#nav-calendar .ikonli-font-icon,
#nav-courses .ikonli-font-icon,
#nav-upcoming .ikonli-font-icon,
#nav-archive .ikonli-font-icon,
#nav-settings .ikonli-font-icon {
    -fx-icon-size: 13px;
}

#nav-calendar, #nav-courses, #nav-upcoming,
#nav-archive, #nav-settings {
    -fx-font-size: 13px;
    -fx-font-family: "Roboto Regular";
    -fx-max-height: 48;
    -fx-pref-height: 36;
    -fx-max-width: 5000;
    -fx-text-fill: -fx-content;
    -fx-graphic-text-gap: 16;
    -fx-alignment: center-left;
    -fx-padding: 0 8 0 8;
}

#add-button .ikonli-font-icon {
    -fx-icon-code: "mdi-plus-box";
    -fx-icon-size: 15px;
}

/*
floating buttons
*/
#add .ikonli-font-icon,
#save .ikonli-font-icon,
#edit .ikonli-font-icon,
#left-button .ikonli-font-icon,
#right-button .ikonli-font-icon,
#nav-button .ikonli-font-icon,
#archive-action .ikonli-font-icon,
#un-archive-action .ikonli-font-icon,
#delete .ikonli-font-icon {
    -fx-icon-size: 20px;
}

#add .ikonli-font-icon {
    -fx-icon-code: "mdi-plus";
}

#save .ikonli-font-icon {
    -fx-icon-code: "mdi-content-save";
}

#edit .ikonli-font-icon {
    -fx-icon-code: "mdi-pencil"
}

#archive-action .ikonli-font-icon {
    -fx-icon-code: "mdi-package-down";
}

#delete .ikonli-font-icon {
    -fx-icon-code: "mdi-delete";
}

#un-archive-action .ikonli-font-icon {
    -fx-icon-code: "mdi-package-up";
}

#add-event .ikonli-font-icon {
    -fx-icon-code: "mdi-plus-box";
    -fx-icon-size: 15px;
}

#left-button .ikonli-font-icon {
    -fx-icon-code: "mdi-chevron-left";
}

#right-button .ikonli-font-icon {
    -fx-icon-code: "mdi-chevron-right";
}

#nav-button .ikonli-font-icon {
    -fx-icon-code: "mdi-menu";
}

.jfx-text-field,
.jfx-combo-box {
    -jfx-focus-color: -fx-accent;
}


#time-picker .jfx-time-picker {
    -fx-border-color: transparent;
}

.animated-option-button,
.animated-option-button-sub {
    -fx-background-radius: 50px;
    -fx-pref-height: 50px;
    -fx-pref-width: 50px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
    -jfx-button-type: RAISED;
}

.animated-option-button {
    -fx-background-color: -fx-accent;
}

.animated-option-button-sub {
    -fx-background-color: -fx-accent-light;
}

#left-button,
#right-button,
#nav-button {
    -fx-background-radius: 24px;
    -fx-pref-height: 24px;
    -fx-pref-width: 24px;
    -fx-min-width: -fx-pref-width;
    -fx-max-width: -fx-pref-width;
    -fx-min-height: -fx-pref-height;
    -fx-max-height: -fx-pref-height;
}

#left-button .jfx-rippler,
#right-button .jfx-rippler {
    -jfx-rippler-fill: -fx-accent;
}

.date-picker-popup .calendar-grid {
    -fx-pref-width: 180.0;
    -fx-pref-height: 120.0;
}

#raised-button,
#flat-button,
#warning-flat-button {
    -fx-alignment: CENTER;
    -fx-pref-height: 32;
    -fx-pref-width: 60;
    -fx-background-radius: 3;
    -fx-font-family: "Roboto Medium";
}

#raised-button {
    -fx-background-color: -fx-accent;
}

#add-nav-button {
    -fx-alignment: CENTER;
    -fx-pref-height: 40;
    -fx-padding: 0 8 0 8;
}

#dialog-header {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14px;
}

#dialog-subheader {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13px;
}

#snackbar {
    -fx-background-color: #EEEEEE;
    -fx-background-radius: 3;
}

#content-header {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15px;
}

#content-subheader {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 13px;
}

#content-supersize {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20px;
}

#content-content {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 12px;
}

#calendar-date {
    -fx-border-color: -fx-accent;
    -fx-border-insets: 8 0 0 0;
    -fx-border-width: 0 0 0 2;
    -fx-padding: 0 4 4 4;
    -fx-spacing: 4;
    -fx-alignment: top-center;
}

#calendar-item {
    -fx-background-color: #424242;
    -fx-background-radius: 3px;
    -fx-alignment: center-left;
    -fx-padding: 2;
}

#calendar-week-header {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 12px;
}

#nav-box,
#nav-box-popup {
    -fx-padding: 8;
    -fx-spacing: 8;
    -fx-background-radius: 3;
}

#nav-box-popup {
    -fx-min-width: 144;
}


#course-content-grid,
#calendar-grid {
    -fx-background-radius: 3;
    -fx-padding: 16;
}

#course-content-grid {
    -fx-vgap: 12;
}

#header-box-large,
#header-box-small {
    -fx-background-color: -fx-accent;
    -fx-padding: 24;
    -fx-spacing: 16;
}

#header-box-large {
    -fx-alignment: center-left;
}

#header-box-small {
    -fx-alignment: baseline-left;
}

#text-h2 {
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15;
}

#text-normal {
    -fx-font-family: "Roboto Regular";
    -fx-font-size: 12;
}

#calendar-circle-today {
    -fx-fill: -fx-accent;
}

.jfx-toggle-button {
    -jfx-toggle-color: -fx-accent;
    -jfx-toggle-line-color: -fx-accent-light;
}

.jfx-date-picker,
.jfx-time-picker {
    -jfx-default-color: -fx-accent;
    -jfx-overlay: true;
}

/* Tables */

.table-view,
.table-view:focused {
    -fx-background-color: -fx-material;
}

.table-view .column-header,
.table-view .column-header .filler,
.table-view .column-header-background,
.table-view .column-header-background .filler,
.table-view .table-row-cell {
    -fx-background-color: -fx-material;
}

.table-view .table-cell,
.table-view .column-header .label {
    -fx-text-fill: -fx-content;
}

.table-view .table-row-cell {
    -fx-border-color: #424242;
}

/* Buttons */

#nav-calendar .ikonli-font-icon,
#nav-courses .ikonli-font-icon,
#nav-upcoming .ikonli-font-icon,
#nav-archive .ikonli-font-icon,
#nav-settings .ikonli-font-icon,
#add-button .ikonli-font-icon,
#add .ikonli-font-icon,
#save .ikonli-font-icon,
#edit .ikonli-font-icon,
#left-button .ikonli-font-icon,
#right-button .ikonli-font-icon,
#nav-button .ikonli-font-icon,
#archive-action .ikonli-font-icon,
#un-archive-action .ikonli-font-icon,
#delete .ikonli-font-icon,
#add-event .ikonli-font-icon {
    -fx-icon-color: -fx-content;
}

/* General controls */

.jfx-rippler {
    -jfx-rippler-fill: -fx-content;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: -fx-content;
}

.jfx-tab-pane .headers-region,
.jfx-tab-pane .tab:selected .tab-label,
.jfx-text-field {
    -fx-text-fill: -fx-content;
}

.jfx-tab-pane .tab .tab-label {
    -fx-text-fill: -fx-content-light;
}

#course-create-dialog,
#event-edit-dialog {
    -fx-background-color: -fx-dialog-background;
}

#dialog-header,
#dialog-subheader,
#content-header,
#content-subheader,
#content-supersize,
#content-content,
#calendar-event,
#calendar-week-header{
    -fx-fill: -fx-content;
}

#flat-button {
    -fx-text-fill: -fx-content;
}

#nav-box,
#nav-box-popup {
    -fx-background-color: -fx-material;
}

#course-content-grid,
#calendar-grid {
    -fx-background-color: -fx-material;
}

#text-h2 {
    -fx-fill: -fx-content;
}

#text-normal {
    -fx-fill: -fx-content;
}

#calendar-circle-regular {
    -fx-fill: -fx-material;
}

.jfx-toggle-button {
    -jfx-untoggle-color: -fx-content;
    -jfx-untoggle-line-color: -fx-content-light;
}




